{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set pageTitle = applicationName + " - Activities migration" %}
{% set backLinkHref = "/" %}

{% block content %}

  <div class="govuk-grid-row govuk-body">
    <h1 class="govuk-heading-l">Activities migration</h1>

    <div>
      {% set migrationInstructionsHtml %}
        <p>Start a migration by pressing the "Start new migration" button and entering a single prison ID. You can
          optionally enter a single CRS_ACTY_ID to migrate a single Course Activity instead of all Course Activities.
          This will migrate <strong>active</strong> Course Activities from NOMIS to DPS. By "active" we mean the
          activity has not ended and has at least one prisoner allocated to attend.</p>
        <p>All activities migrated to DPS will be synchronised back to NOMIS as <strong>new</strong> activities under
          the new program service codes. We are using a 1 way sync from DPS -> NOMIS so the old NOMIS activities are now
          redundant.</p>
        <p>When the activity migration is complete and has been checked, click on the "Migrate Allocations" link and
          migrate the allocated prisoners to DPS. This will migrate all allocated prisoners onto the new activities and
          also synchronise them back to NOMIS. Note that ended or waiting allocations will not be migrated.</p>
        <p>When the allocation migration is complete and has been checked we need to end all of the old NOMIS activities
          as they have been replaced by the migrated activities in DPS. Press the "End NOMIS activities" button to end
          all of the old activities and also end any allocations for those activities.</p>
        <p><strong>IMPORTANT</strong> If you need to run multiple activity migrations because there are failures that
          need fixing, you must press the "End NOMIS activities" button for <strong>all</strong> migrations that were
          successful. The button only ends old NOMIS activities for those activities that were successfully migrated on
          that migration run.</p>
      {% endset %}
      {{ govukDetails({
        summaryText: "How do I run an Activities migration?",
        html: migrationInstructionsHtml,
        id: "activities-migration-details"
      }) }}
      {{ govukButton({
        text: "Start new migration",
        href: "/activities-migration/start",
        isStartButton: true,
        classes: "float-right",
        attributes: { "data-qa": "start-new-migration" }
      }) }}
    </div>

    {% if warnings.length > 0 %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full" data-qa="warnings-div">
        {% set warningHtml %}
          {% for warning in warnings %}
            {% if loop.index == 1 %}
              <p class="govuk-!-font-weight-bold">{{ warning.text }}</p>
            {% else %}
              <p>{{ warning.text }}</p>
            {% endif %}
          {% endfor %}
        {% endset %}
        {{ govukNotificationBanner({
            html: warningHtml,
            attributes: { 'data-qa-warnings': true }
        }) }}
        </div>
      </div>
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full" data-qa="migration-results-div">
        {% if migrations.length %}

          {% set rows = [] %}
          {% for u in migrations %}

            {% set cellHtml %}
              <div class="govuk-!-margin-bottom-5">
                <div class="govuk-grid-row govuk-!-margin-bottom-2">
                  <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-label--s govuk-!-font-weight-bold">Migration Id: </span>
                    <span data-qa="migration-id" class="govuk-!-margin-left-2">{{ u.migrationId }}</span>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <span class="govuk-label--s govuk-!-font-weight-bold">Status: </span>
                    <span data-qa="status" class="govuk-!-margin-left-2">{{ u.status }}</span>
                  </div>
                </div>

                <div class="govuk-grid-row govuk-!-margin-bottom-2">
                  <div class="govuk-grid-column-full">
                    <span class="govuk-label--s">Started: </span>
                    <span data-qa="whenStarted"
                          class="govuk-!-margin-left-2">{{ u.whenStarted | formatDate('D MMMM YYYY - HH:mm') }}</span>
                    {% if u.whenEnded %}
                      <span class="govuk-label--s govuk-!-margin-left-3">Ended: </span>
                      <span data-qa="whenEnded"
                            class="govuk-!-margin-left-2">{{ u.whenEnded | formatDate('D MMMM YYYY - HH:mm') }}</span>
                    {% endif %}
                  </div>
                </div>
                {% if u.status == 'STARTED' or u.status == 'CANCELLED_REQUESTED' %}
                  <div class="govuk-grid-row govuk-!-margin-bottom-2">
                    <div class="govuk-grid-column-full">
                      <a data-qa="progress-link" class="govuk-link"
                         href="/activities-migration/details?migrationId={{ u.migrationId }}">View progress</a>
                    </div>
                  </div>
                {% endif %}

                <div class="govuk-grid-row govuk-!-margin-bottom-2">
                  <div class="govuk-grid-column-full">
                    <span class="govuk-label--s">Migrated: </span>
                    <span data-qa="migratedCount" class="govuk-!-margin-left-1">{{ u.recordsMigrated }}</span>
                    <span class="govuk-label--s govuk-!-margin-left-5">Failed: </span>
                    <span data-qa="failedCount" class="govuk-!-margin-left-1">{{ u.recordsFailed }}</span>
                    <span class="govuk-label--s govuk-!-margin-left-5">Estimated: </span>
                    <span data-qa="estimatedCount" class="govuk-!-margin-left-1">{{ u.estimatedRecordCount }}</span>
                  </div>
                </div>

                <div class="govuk-grid-row govuk-!-margin-bottom-2">
                  <div class="govuk-grid-column-full">
                    <a data-qa="all-events-link" class="govuk-link" target="_blank"
                       href="{{ u.appInsightsFullMigrationLink }}">View all migration events in App Insights</a>
                  </div>
                  {% if (u.whenEnded) and (u.recordsFailed + u.recordsMigrated < u.estimatedRecordCount) %}
                    <div class="govuk-grid-column-full">
                      <a data-qa="already-migrated-link" class="govuk-link" target="_blank"
                         href="{{ u.appInsightsActivityIgnoredLink }}">View ignored activities in
                        AppInsights</a>
                    </div>
                  {% endif %}
                  {% if u.recordsFailed > 0 %}
                    <div class="govuk-grid-column-full">
                      <a data-qa="failures-link" class="govuk-link" target="_blank"
                         href="{{ u.appInsightsFailuresLink }}">View failures in App Insights</a>
                    </div>
                  {% endif %}
                </div>

                <div class="govuk-grid-row govuk-!-margin-bottom-2">
                  <div class="govuk-grid-column-full govuk-!-margin-bottom-3 govuk-!-margin-top-2">
                    <span class="govuk-label--s govuk-!-font-weight-bold">Migration properties:</span>
                  </div>
                  {% if u.filterPrisonId %}
                    <div class="govuk-grid-column-full">
                      <span class="govuk-label--s">Prison:</span>
                      <span data-qa="filterPrisonId" class="govuk-!-margin-left-2">{{ u.filterPrisonId }}</span>
                    </div>
                  {% endif %}
                  {% if u.filterActivityStartDate %}
                    <div class="govuk-grid-column-full">
                      <span class="govuk-label--s">Activity Start Date:</span>
                      <span data-qa="filterActivityStartDate"
                            class="govuk-!-margin-left-2">{{ u.filterActivityStartDate }}</span>
                    </div>
                  {% endif %}
                  {% if u.filterNomisActivityEndDate %}
                    <div class="govuk-grid-column-full">
                      <span class="govuk-label--s">NOMIS Activity End Date:</span>
                      <span data-qa="filterNomisActivityEndDate"
                            class="govuk-!-margin-left-2">{{ u.filterNomisActivityEndDate }}</span>
                    </div>
                  {% endif %}
                  {% if u.filterCourseActivityId %}
                    <div class="govuk-grid-column-full">
                      <span class="govuk-label--s">Course Activity ID:</span>
                      <span data-qa="filterCourseActivityId"
                            class="govuk-!-margin-left-2">{{ u.filterCourseActivityId }}</span>
                    </div>
                  {% endif %}
                </div>

                <div class="govuk-grid-row govuk-!-margin-bottom-2">
                  <div class="govuk-grid-column-one-third">
                    <a data-qa="migrate-allocations-link" class="govuk-link"
                       href="/allocations-migration/start?prisonId={{ u.filterPrisonId }}&activityStartDate={{ u.filterActivityStartDate }}&courseActivityId={{ u.filterCourseActivityId }}">Migrate
                      Allocations</a>
                  </div>
                </div>

                <div class="govuk-grid-row govuk-!-margin-bottom-2">
                  <div class="govuk-grid-column-full">
                    {% if u.dateAction == 'END' %}
                      {% set endNomisLink = "/activities-migration/end-activities?migrationId=" + u.migrationId %}
                      {{ govukButton({
                        text: "End NOMIS activities on " + u.filterEndDate,
                        href: endNomisLink,
                        isStartButton: false,
                        attributes: { 'data-qa': 'end-activities-button' }
                      }) }}
                      {% if endMigratedActivitiesResult.migrationId == u.migrationId %}
                        {% if endMigratedActivitiesResult.result == 'OK' %}
                          {% set resultClass = 'result-success' %}
                        {% else %}
                          {% set resultClass = 'result-error' %}
                        {% endif %}
                        <span class="{{ resultClass }}" data-qa="end-activities-result">
                                  {{ endMigratedActivitiesResult.result }}
                                </span>
                      {% endif %}
                    {% elseif u.dateAction == 'MOVE' %}
                      {% set moveStartDateLink = "/activities-migration/move-start-date/start?migrationId=" + u.migrationId %}
                      {{ govukButton({
                        text: "Move start date",
                        href: moveStartDateLink,
                        isStartButton: false,
                        attributes: { 'data-qa': 'start-move-start-date-button' }
                      }) }}
                    {% endif %}
                  </div>
                  </div>
              </div>
            {% endset %}

            {% set rows = (rows.push([
              { html: cellHtml }
            ]), rows) %}
          {% endfor %}

          {{ govukTable({
            rows: rows
          }) }}

        {% else %}
          <div class="govuk-!-margin-bottom-5">
            <div class="govuk-grid-row govuk-!-margin-bottom-2">
              No migration records found
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
