{% extends "../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


{% set pageTitle = applicationName + " - Start an activities migration - preview" %}

{% block content %}
    {{ govukBackLink({
        text: "Back",
        href: '/activities-migration/amend'
    }) }}

    <main class="app-container govuk-body">
        {% if errors.length > 0 %}
            {{ govukErrorSummary({
                titleText: 'There is a problem',
                errorList: errors,
                attributes: { 'data-qa-errors': true }
            }) }}
        {% endif %}

        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-l govuk-!-margin-top-7" id="startActivitiesMigrationPreviewPage">Start a new activities migration - preview</h1>
                </div>
                <div class="govuk-grid-column-three-quarters">
                    {% if form.estimatedCount %}
                        {% set html %}
                            <p class="govuk-notification-banner__heading" id="estimateSummary">
                                Estimated number of Activities entities to be migrated: {{ form.estimatedCount }}.
                            </p>
                            <p class="govuk-notification-banner__heading" id="incentiveLevels">
                                Active incentive levels for {{ form.prisonId }}: {{ form.incentiveLevelIds }}.
                            </p>
                            {% if not form.prisonSwitchedOnNomis %}
                                <p class="govuk-notification-banner__heading" id="nomisFeatureSwitch">
                                    NOMIS feature switch not turned on for {{ form.prisonId }}.
                                    {% set activate_prison_link = "/activities-migration/activate-prison?prisonId=" + form.prisonId + "&serviceName=ACTIVITY" %}
                                    <a href="{{ activate_prison_link }}" data-qa='activate-prison-button'>Activate prison</a>
                                </p>
                            {% endif %}
                            {% if not form.prisonSwitchedOnDps %}
                                <p class="govuk-notification-banner__heading" id="dpsFeatureSwitch">
                                    DPS feature switch not turned on for {{ form.prisonId }}.
                                </p>
                            {% endif %}
                            {% if not form.dpsPayBandsExist %}
                                <p class="govuk-notification-banner__heading" id="dpsPayBands">
                                    DPS has no pay bands for prison {{ form.prisonId }}.
                                </p>
                            {% endif %}
                            {% if not form.dpsPrisonRegimeExists %}
                                <p class="govuk-notification-banner__heading" id="dpsPrisonRegime">
                                    DPS has no slot times configured for prison {{ form.prisonId }}.
                                </p>
                            {% endif %}
                            {% if form.suspendedAllocations|length %}
                                <p class="govuk-notification-banner__heading" id="nomisSuspendedAllocations">
                                    Found suspended allocations in NOMIS for prison {{ form.prisonId }}.
                                    <a href="#" id='copy-suspended-link'">Copy</a>
                                    <textarea class="govuk-visually-hidden" id="copy-suspended-text" rows="{{ form.suspendedAllocations|length }}" cols="200" readonly>{{ form.suspendedAllocations|join("\n") }}</textarea>
                                </p>
                            {% endif %}
                            {% if form.allocationsMissingPayBands|length %}
                                <p class="govuk-notification-banner__heading" id="nomisAllocationsMissingPayBands">
                                    Found allocations missing pay bands in NOMIS for prison {{ form.prisonId }}.
                                    <a href="#" id='copy-missing-pay-band-link'">Copy</a>
                                    <textarea class="govuk-visually-hidden" id="copy-missing-pay-band-text" rows="{{ form.allocationsMissingPayBands|length }}" cols="200" readonly>{{ form.allocationsMissingPayBands|join("\n") }}</textarea>
                                </p>
                            {% endif %}
                        {% endset %}

                        {{ govukNotificationBanner({
                            html: html
                        }) }}
                    {% endif %}

                    {% if form.dlqCount > 0 %}
                        {% set dlqText %}There are {{ form.dlqCount }} messages on the migration dead letter queue. Please clear these before starting the migration{% endset %}
                        {% set html %}
                        <form action="/activities-migration/start/delete-failures" method="post" novalidate>
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                        <p>If you are sure all previous failures have been successfully understood and processed, you can permanently delete any record of these errors</p>
                        <div class="govuk-button-group">
                            {{ govukButton({
                                text: "Delete failure messages",
                                classes: "govuk-button--warning",
                                name: "action",
                                value: "deleteDlq",
                                attributes: { 'data-qa': 'delete-dlq-button' }
                            }) }}
                        </div>
                        <p>Deleting failures can sometimes take up to a minute, so after selecting this button it might appear that the messages are still there. These can be safely ignored.</p>
                        {% endset %}

                        {{ govukErrorSummary({
                            titleText: dlqText,
                            attributes: { 'id': 'dlqWarning' },
                            descriptionHtml: html
                        }) }}
                    </form>

                    {% endif %}

                    {% set summaryRows = [] %}

                    {{ summaryRow(form.prisonId, "Prison code", summaryRows, "prison-id") }}
                    {{ summaryRow(form.courseActivityId, "Single course activity to migrate", summaryRows, "course-activity-id") }}

                    {{ govukSummaryList({
                        rows: summaryRows
                    }) }}


                    <form action="/activities-migration/start/preview" method="post" novalidate>
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

                        <div class="govuk-button-group">
                            {{ govukButton({
                                text: "Start migration",
                                name: "action",
                                value: "startMigration",
                                attributes: { 'data-qa': 'start-migration-button' }
                            }) }}
                            <a class="govuk-link" href="/activities-migration">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% macro summaryRow(formItem, label, summaryRows, dataQa) %}
    {% if formItem %}
        {% set summaryRow =   {
            key: {
                text: label
            },
            value: {
                text: formItem
            },
            actions: {
                items: [
                    {
                        href: "/activities-migration/amend",
                        text: "Change",
                        visuallyHiddenText: label,
                        attributes: { 'data-qa': dataQa }
                    }
                ]
            }
        } %}
        {% set summaryRows = (summaryRows.push(
            summaryRow
        ), summaryRows) %}
    {% endif %}
{% endmacro %}
