{% extends "../../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitle = applicationName + " - Contact Person migration details" %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: '/contactperson-migration'
  }) }}

  <main class="app-container govuk-body">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-l govuk-!-margin-top-7">Contact Person migration details</h1>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      {% set detailsHtml %}
      <p> 
        When a migration is in progress a background service counts all person entities that can possibly be migrated and adds each entity to a queue. That initial count is the <b>Estimated</b> number.
        That number does not take into account if any record had previously been migrated. Also, if an entity was created just after the initial calculation it may still be processed.
        At the beginning of the process the <b>Still to be processed</b> count will go up until it eventually gets close to the <b>Estimated</b> number. The <b>Still to be processed</b> number represents the number of records that still requiring processing. By the end of the process that number will go to zero.
        </p> 
        <p>
          The <b>Migrated</b> number represents the number of records that have successfully migrated in this session. By the end of the process that number should equal the <b>Estimated</b> number if all records found in NOMIS were successfully migrated.
        </p>
        <p>
          The <b>Failed</b> number represents the number of records that failed to migrate. A failed record is held in a dead letter queue. It may take a long time before any records that are destined to fail actually appear in this number because they retried several times, each time going to the back of the queue.
        </p>    
        <p>
          The <b>Failed</b> number technically is just the current number of records on the dead letter queue. So messages that have not been fixed from the previous migration would appear in this number, hence it is important a new migration should not be started before any failed records from previous migrations are dealt with (either fixed or discarded).
        </p>  
        <p>
          <b>Note:</b> Since the numbers are counts from the AWS SQS messaging system, that itself are just approximations, numbers can go up and down when the <b>Refresh</b> button is pressed.
        </p>  
       
      {% endset %}

      {{ govukDetails({
        summaryText: "What do all the numbers mean?",
        html: detailsHtml
      }) }}                
    </div>
</div>

    <div class="govuk-grid-row">
      {% set filterHtml %}
        {% if migration.history.filterFromDate %}
          <div>
            <span class="govuk-label--s">From date:</span><span data-qa="filterFromDate" class="govuk-!-margin-left-2">{{ migration.history.filterFromDate | formatDate('D MMMM YYYY - HH:mm') }}</span>
          </div>
        {% endif %}
        {% if migration.history.filterToDate %}
          <div>
            <span class="govuk-label--s">To date:</span><span data-qa="filterToDate" class="govuk-!-margin-left-2"> {{ migration.history.filterToDate | formatDate('D MMMM YYYY - HH:mm') }}</span>
          </div>
        {% endif %}
      {% endset %}

      <div class="govuk-grid-column-full">
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Migration Id"
              },
              value: {
                text: migration.history.migrationId
              }
            },
            {
              key: {
                text: "Status"
              },
              value: {
                text: migration.history.status
              },
              classes: "status"
            },
            {
              key: {
                text: "Started"
              },
              value: {
                text:  migration.history.whenStarted | formatDate('D MMMM YYYY - HH:mm')
              }
            },
            {
              key: {
                text: "Ended"
              },
              value: {
                text:  migration.history.whenEnded | formatDate('D MMMM YYYY - HH:mm') if migration.history.status == 'COMPLETED' else '-'
              },
              classes: "ended"
            },
            {
              key: {
                text: "Migrated"
              },
              value: {
                text: migration.history.recordsMigrated if migration.history.status == 'COMPLETED' else migration.currentProgress.recordsMigrated
              },
              classes: "migrated"
            },
            {
              key: {
                text: "Estimated"
              },
              value: {
                text:  migration.history.estimatedRecordCount 
              }
            },
            {
              key: {
                text: "Still to be processed"
              },
              value: {
                text:  'None' if migration.history.status == 'COMPLETED' else migration.currentProgress.recordsToBeProcessed
              },
              classes: "still-processed"
            },
            {
              key: {
                text: "Failed"
              },
              value: {
                text:  migration.history.recordsFailed if migration.history.status == 'COMPLETED' else migration.currentProgress.recordsFailed
              },
              classes: "failed"
            },
            {
              key: {
                text: "Filter"
              },
              value: {
                html:  filterHtml
              }
            }
          ]
        }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form action="/contactperson-migration/cancel" method="post" novalidate>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
            <input type="hidden" name="migrationId" value="{{ migration.history.migrationId }}"/>

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Refresh",
                href: '/contactperson-migration/details?migrationId=' + migration.history.migrationId,
                classes: "govuk-button--secondary"
              }) }}
              {% if  migration.history.status != 'COMPLETED'  %}
              {{ govukButton({
                  text: "Cancel migration",
                  classes: "govuk-button--warning",
                  attributes: { 'data-qa': 'cancel-migration-button' }
              }) }}
              {% endif %}
            </div>
        </form>
      </div>
    </div>
  </main>

{% endblock %}
