{% extends "../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = applicationName + " - Start an allocations migration" %}
{% set backLinkHref = "/allocations-migration" %}

{% block content %}

  <main class="app-container govuk-body">
    {% if errors.length > 0 %}
    {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
    }) }}
    {% endif %}

    <div class="govuk-width-container">
      <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l govuk-!-margin-top-7">Start a new allocations migration</h1>
            </div>

            <div class="govuk-grid-column-two-thirds">
                <form action="/allocations-migration/start" method="post" novalidate>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                    {% call govukFieldset({
                        legend: {
                            text: "Enter the filter details for the Allocations entities you want to migrate",
                            classes: "govuk-fieldset__legend--m",
                            isPageHeading: false
                        }
                    }) %}

                        {{ govukInput({
                            label: {
                                html: 'Prison code'
                            },
                            id: "prisonId",
                            name: "prisonId",
                            classes: "govuk-input--width-10",
                            hint: {
                                text: "Example 3 letter prison id: `RSI`"
                            },
                            value: form.prisonId,
                            errorMessage: errors | findError('prisonId')
                        }) }}

                        {{ govukInput({
                            label: {
                                html: 'Migrate a single activity from the prison (optional)'
                            },
                            id: "courseActivityId",
                            name: "courseActivityId",
                            classes: "govuk-input--width-20",
                            hint: {
                                text: "Example 12345, taken from column COURSE_ACTIVITIES.CRS_ACTY_ID in NOMIS. If not entered then all active allocations from all active activities will be migrated."
                            },
                            value: form.courseActivityId,
                            errorMessage: errors | findError('courseActivityId')
                        }) }}

                        {{ govukInput({
                            label: {
                                html: 'The date activities will start in DPS.'
                            },
                            id: "activityStartDate",
                            name: "activityStartDate",
                            classes: "govuk-input--width-20",
                            hint: {
                                text: "Example 2025-05-31, must be after today. Allocations active on this date will be migrated. Cannot be changed if defaulted from the Activities migration."
                            },
                            value: form.activityStartDate,
                            disabled: form.protectStartDate,
                            errorMessage: errors | findError('activityStartDate')
                        }) }}
                        {%if form.protectStartDate %}
                          <input type="hidden" name="activityStartDate" data-qa="hidden-activityStartDate" value="{{ form.activityStartDate }}" />
                        {% endif %}

                        <div class="govuk-button-group">
                            {{ govukButton({
                                text: "Continue to preview",
                                name: "action",
                                value: "startMigration",
                                attributes: { 'data-qa': 'continue-button' }
                            }) }}
                            <a class="govuk-link" href="/allocations-migration">Cancel</a>
                        </div>
                    {% endcall %}
                </form>
            </div>
        </div>
    </div>
  </main>

{% endblock %}
