{% extends "../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = applicationName + " - Start a prison balance migration" %}
{% set backLinkHref = "/prison-balance-migration" %}

{% block content %}

  <main class="app-container govuk-body">
    {% if errors.length > 0 %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      }) }}
    {% endif %}

    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l govuk-!-margin-top-7">Start a new prison balance migration</h1>
        </div>

        <div class="govuk-grid-column-two-thirds">
          <form action="/prison-balance-migration/start" method="post" novalidate>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            {% call govukFieldset({
              legend: {
                text: "Enter the filter details for the prison balance entities you want to migrate",
                classes: "govuk-fieldset__legend--m",
                isPageHeading: false
              }
            }) %}

              {{ govukInput({
                label: {
                  html: 'Prison code'
                },
                id: "prisonId",
                name: "prisonId",
                classes: "govuk-input--width-10",
                hint: {
                  text: "Example 3 letter prison id: `RSI`"
                },
                value: form.prisonId,
                errorMessage: errors | findError('prisonId')
              }) }}

              <div class="govuk-button-group">
                {{ govukButton({
                  text: "Continue to preview",
                  name: "action",
                  value: "startMigration",
                  attributes: { 'data-qa': 'continue-button' }
                }) }}
                <a class="govuk-link" href="/prison-balance-migration">Cancel</a>
              </div>
            {% endcall %}
          </form>
        </div>
      </div>
    </div>
  </main>

{% endblock %}
