{% extends "../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = applicationName + " - Start a Temporary Absence migration" %}
{% set backLinkHref = "/movements-migration" %}

{% block content %}

  <main class="app-container govuk-body">
    {% if errors.length > 0 %}
    {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
    }) }}
    {% endif %}

    <div class="govuk-width-container">
      <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l govuk-!-margin-top-7">Start a new Temporary Absence migration</h1>
            </div>

            <div class="govuk-grid-column-two-thirds">
                <form action="/movements-migration/start" method="post" novalidate>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                    {% call govukFieldset({
                        legend: {
                            text: "Enter the filter details for the Temporary Absences entities you want to migrate",
                            classes: "govuk-fieldset__legend--m",
                            isPageHeading: false
                        }
                    }) %}

                        {{ govukInput({
                            label: {
                                html: 'Migrate a single prisoner'
                            },
                            id: "prisonerNumber",
                            name: "prisonerNumber",
                            classes: "govuk-input--width-10",
                            hint: {
                                text: "Example A1234BC (empty for all prisoners)"
                            },
                            value: form.prisonerNumber,
                            errorMessage: errors | findError('prisonerNumber')
                        }) }}

                        <div class="govuk-button-group">
                            {{ govukButton({
                                text: "Continue to preview",
                                name: "action",
                                value: "startMigration",
                                attributes: { 'data-qa': 'continue-button' }
                            }) }}
                            <a class="govuk-link" href="/movements-migration">Cancel</a>
                        </div>
                    {% endcall %}
                </form>
            </div>
        </div>
    </div>
  </main>

{% endblock %}
