{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = applicationName + " - Room mappings" %}
{% set backLinkHref = "/" %}

{% block content %}

<div class="app-container govuk-body">
    {% if errors.length > 0 %}
    {{ govukErrorSummary({
    titleText: 'There is a problem',
    errorList: errors,
    attributes: { 'data-qa-errors': true }
    }) }}
    {% endif %}
    <div class="govuk-width-container">
        <h1 class="govuk-heading-l">Room mappings</h1>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <form id="prison-form" action="/visits-room-mappings" novalidate>

                    {{ govukInput({
                    label: {
                    text: "Enter the prison code",
                    classes: "govuk-label--m",
                    isPageHeading: false
                    },
                    id: "prisonId",
                    name: "prisonId",
                    classes: "govuk-input--width-10 transform-uppercase",
                    errorMessage: errors | findError('prisonId'),
                    hint: {
                    text: "Example prison code: `HEI`"
                    }
                    }) }}

                    {{ govukCheckboxes({
                    idPrefix: 'futureVisits',
                    name: 'futureVisits',
                    errorMessage: errors | findError('futureVisits'),
                    fieldset: {
                    legend: {
                    isPageHeading: false,
                    classes: "govuk-label"
                    }
                    },
                    items: [
                    {
                    value: true,
                    text: 'Future visits only',
                    checked: futureVisits
                    }
                    ]
                    }) }}

                    {{ govukWarningText({
                    text: "Unselecting 'Future visits only' will result in a slower query that may need a page refresh on timeout",
                    iconFallbackText: "Warning"

                    }) }}

                    {{ govukButton({
                    text: "cancel",
                    href: "/"
                    }) }}
                    {{ govukButton({
                    text: "next"
                    }) }}


                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}

