{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Visits migration started" %}

{% block content %}

  <main class="app-container govuk-body">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-l govuk-!-margin-top-7">Visits migration started</h1>
    </div>
  </main>

{% endblock %}
