{% extends "../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitle = applicationName + " - Start a visits migration" %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: '/visits-migration'
  }) }}

  <main class="app-container govuk-body">
    {% if errors.length > 0 %}
    {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors,
        attributes: { 'data-qa-errors': true }
    }) }}
    {% endif %}

    <div class="govuk-width-container">
      <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l govuk-!-margin-top-7">Start a new visits migration</h1>
            </div>
            <div class="govuk-grid-column-full">
            {% set detailsHtml %}
            <p> 
                We would always recommend selecting the <b>View estimated count</b> before starting a migration. Selecting this will not start a migration but will do an initial estimate of the number of records that could be potentially migrated based on the current filter. Use this to check the filter is returning results that match your expectations.
            </p>  
            <p>
                The initial check can sometimes be <b>very slow</b> since it has to read so many non-indexed records. So another advantage of doing an estimation first is the estimation process will cache data at the database making the <b>Start migration</b> button quicker to use.
            </p>    
            
            {% endset %}

            {{ govukDetails({
                summaryText: "When should the 'View estimated count' button be selected?",
                html: detailsHtml
            }) }}                
        
            <div>

            <div class="govuk-grid-column-two-thirds">
                {% if form.estimatedCount %}
                {% set html %}
                <p class="govuk-notification-banner__heading" id="estimateSummary">
                    Estimated number of visits to be migrated: {{form.estimatedCount}}
                </p>
                {% endset %}

                {{ govukNotificationBanner({
                html: html
                }) }}
                {% endif %}
                <form action="/visits-migration/start" method="post" novalidate>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                    {% call govukFieldset({
                        legend: {
                            text: "Enter the filter details for the visits you want to migrate",
                            classes: "govuk-fieldset__legend--m",
                            isPageHeading: false
                        }
                    }) %}

                        <div class="govuk-list">
                          {{ govukCheckboxes({
                            idPrefix: 'visitTypes',
                            name: 'visitTypes',
                            errorMessage: errors | findError('visitTypes'),
                            fieldset: {
                                legend: {
                                  text: "Which types visits should be inlcuded?",
                                  isPageHeading: false,
                                  classes: "govuk-label"
                                }
                              },                            
                              items: [
                              {
                                value: 'SCON',
                                text: 'Social visits'
                              },
                              {
                                value: 'OFFI',
                                text: 'Official visits'
                              }
                            ]  | setChecked(form.visitTypes) 
                          }) }}
                        </div>

                        {{ govukInput({
                            label: {
                                html: 'Prison code'
                            },
                            id: "prisonIds",
                            name: "prisonIds",
                            classes: "govuk-input--width-10",
                            hint: {
                                text: "Example 3 letter prison id: `HEI` or comma separated list: `HEI, WWI`"
                            },
                            value: form.prisonIds,
                            errorMessage: errors | findError('prisonIds')
                        }) }}

                        {{ govukInput({
                            label: {
                                html: 'Only include visits created after this date'
                            },
                            id: "fromDateTime",
                            name: "fromDateTime",
                            classes: "govuk-input--width-20",
                            hint: {
                                text: "Example 2020-03-23T12:00:00. This optional field indicates the creation date not the actual visit date"
                            },
                            value: form.fromDateTime,
                            errorMessage: errors | findError('fromDateTime')
                        }) }}

                        {{ govukInput({
                            label: {
                                html: 'Only include visits created before this date'
                            },
                            id: "toDateTime",
                            name: "toDateTime",
                            classes: "govuk-input--width-20",
                            hint: {
                                text: "Example 2020-03-28T12:00:00. This optional field indicates the creation date not the actual visit date"
                            },
                            value: form.toDateTime,
                            errorMessage: errors | findError('toDateTime')
                        }) }}

                        <div class="govuk-button-group">
                            {{ govukButton({
                                text: "Start migration",
                                name: "action",
                                value: "startMigration"
                            }) }}
                            {{ govukButton({
                                text: "View estimated count",
                                value: "viewEstimatedCount",
                                name: "action",
                                classes: "govuk-button--secondary"
                            }) }}
                            <a class="govuk-link" href="/visits-migration">Cancel</a>
                        </div>
                    {% endcall %}
                </form>
            </div>
        </div>      
    </div>
  </main>

{% endblock %}
