{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = applicationName + " - Contact Person Profile Details migration started" %}
{% set backLinkHref = "/contactperson-profiledetails-migration" %}

{% block content %}

  <main class="app-container govuk-body">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-l govuk-!-margin-top-7">Contact Person Profile Details migration started</h1>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% set html %}
        <div id="confirmationMessage">
          Migration id: <strong>{{form.migrationId}}</strong><br/>
          Estimated number of Contact Person Profile Details entities to be migrated: <strong>{{form.estimatedCount}}</strong><br/>
        </div>
        {% endset %}

        {{ govukPanel({
          titleText: "Contact Person Profile Details migration has successfully started",
          html: html
        }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <a data-qa="details-link" href="/contactperson-profiledetails-migration/details?migrationId={{form.migrationId}}">View migration status</a>
      </div>
    </div>
  </main>

{% endblock %}
